# Dependencies
node_modules/
npm-debug.log*

# Environment variables
.env

# Database
*.sqlite
*.db

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Large files
*.mp4
*.mov
